body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header styles */
.header {
  width: 100%;
  z-index: 1000;
  background-color: #38545E;
  box-shadow: 0 2px 4px rgba(53, 42, 42, 0.1);
  padding: 10px 40px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 90px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman';
}
nav a:hover {
  color: rgb(0, 0, 0);
}
nav a.active {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 35px;
  color: white;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-color: #5E696D;
  min-height: 85vh;
}




/* HERO */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  margin: auto;
  box-shadow:0 7px 15px rgba(53, 42, 42, 0.1);
  max-width: 80%; 
  height: 800px; 
  font-size: 35px; 
  margin-top: 65px;
  padding: 0 30px; 
  text-align: center; 
}
.circle-image1 {
  width: 350px;
  height: 350px;
  border-radius: 200px;
  align-self: center;
}
.name-container {
  text-align: center;
  font-size: 70px;
  color: #000000;
  margin-bottom: 0px;
  font-family:'Times New Roman', Times, serif;
}

.text-content {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-button {
  margin-top: 20px;
  background-color: #2a4f64;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-button:hover {
  background-color: #92afc0;
  color: rgb(2, 2, 2);
}


/* About Me */
.about_heading {
  margin-top: 40px;
  text-align: center;
  color: #000c01;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about_container {
  display: flex;
  flex-direction: row;     
  justify-content: center;  
  align-items: center;       
  margin:  auto;
  box-shadow:0 7px 150px rgba(53, 42, 42, 0.1);
  padding: 40px;
  width: 80%; 
  height: 800px;
  gap: 40px;
}
.circle-image2 {
  border-radius: 140px;
  max-width: 450px; 
  height: 700px; 
}
.description {
  text-align: justify;
  font-size: 28px;
  margin-top: 20px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Project Container */
.project_heading {
  text-align: center;
  font-size: 60px;
  margin-top: 3%;
  color: #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.project_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;
  margin: auto;
  margin-top: 2%;
  padding: 40px;
  width: 80%;
  box-shadow:0 7px 150px rgba(53, 42, 42, 0.1);
}
.projects-box {
  background-color: #38545E;
  border-radius: 15px;
  padding: 30px;
  max-width: 100%;
  height: 500px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.projects-box:hover {
  transform: scale(1.03);
}
.project-image {
  width: 100%;
  height: 290px;
  object-fit: cover;
  filter: brightness(65%);
  margin-top: 0px;
}
.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #d0d4d8;
}
.project-description {
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  font-family: Calibri;
}
.btn {
  width: 110px;
  height: 40px;
  background-color: #b3b8bb;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 8px;
  border: 2px solid #00311a;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  background-color: #18465c;
  color: #ffffff;
}
.projects-box a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;
  font-family: calibri;
  text-decoration: underline;
  word-break: normal;
}


/* contact */
.contact_heading {
  font-size: 60px;
  text-align: center;
  color: #d3d3d3;
  margin-top: 12%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.cnct {
  text-align: center;
  font-size: 22px;
  color: rgb(18, 18, 19);
  margin: 50px auto;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-links {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 30px;
}
.contact-link:hover {
  transform: scale(1.20); 
}
.contact-link img {
  width: 55px; 
  height: 50px;
}


/* Footer */
.footer {
  position: relative;
  background-color: #1A3944; 
  color: rgb(0, 0, 0);
  padding: 20px 10px; 
  text-align: center;
}
.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;
    margin: auto;  
    padding: 10px;
}
.footer-section {
    flex: 1;
    margin: 1px;
}
.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #b8adad;
}
.footer-section ul {
    list-style: none; 
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 5px;
}
.footer-section ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
}
.footer-section ul li a:hover {
    text-decoration: underline;
    color: white;
}
.f_cnt{
  color: #4aacfc;
}
.footer-bottom {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    border-top: 4px solid rgba(250, 250, 250, 0.3); 
    padding-top: 10px;
}


@media (max-width: 1024px) {
  .header {
    flex-direction: row;
    padding: 10px 20px;
  }

  nav a {
    padding: 10px 15px;
    font-size: 24px;
  }

  .home-container {
    max-width: 80%;
    height: 800px;
    font-size: 28px;
    padding: 20px;
    margin-top: 30px;
  }

  .circle-image1 {
    width: 280px;
    height: 280px;
  }

  .name-container {
    font-size: 50px;
  }

  .text-content {
    font-size: 18px;
  }
  .about_heading{
    margin-top: 10px;
  }
  .about_container {
    flex-direction: column;
    height: auto;
    padding: 20px 50px;
  }
  .circle-image2 {
    width: 100%;
    height: auto;
    max-width: 450px;
  }
  .description {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: justify;
  }
  .project_container {
    grid-template-columns: 1fr;
    padding: 30px;
    width: 90%;
  }
  .projects-box {
    height: auto;
  }
  .contact_heading {
    font-size: 46px;
    margin-top: 10%;
  }
  .cnct {
    font-size: 22x;
    margin: 30px auto;
  }
  .contact-link img {
    width: 45px;
    height: 45px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Phones */
@media (max-width: 768px) {
  .background{
    min-height: 70vh;
  }
  .hamburger {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    top: 80px;
    right: 40px;
    background-color: #507C8D;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    width: 220px;
  }
  nav.open {
    display: flex;
  }
  nav a {
    padding: 10px;
    font-size: 22px;
  }
  .header {
    padding: 10px 20px;
    flex-direction: row;
  }
  .home-container {
    font-size: 22px;
    padding: 15px;
    height: 650px;
    margin-top: 40px
  }
  .circle-image1 {
    width: 200px;
    height: 200px;
  }
  .name-container {
    font-size: 35px;
    margin-top: 17x
  }
  .text-content {
    font-size: 18px;
    margin-top: 20px
  }
  .about-button{
    width: 155px;
    height: 40px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  .about_heading {
    font-size: 45px;
    margin-top: 20px;
  }
  .about_container {
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 20px;
    margin-top: 10px
  }
  .circle-image2 {
    max-width: 100%;
    height: auto;
  }
  .description {
    font-size: 21px;
  }
  .project_heading {
    font-size: 40px;
    margin-top: 20px;
  }
  .project_container {
    grid-template-columns: 1fr;
    padding: 20px;
    margin-top: 0px;
  }
  .projects-box {
    height: 390px;
  }
  .project-image{
    height: 200px;
  }
  .project-title {
    font-size: 20px;
  }
  .project-description {
    font-size: 14px;
  }
  .btn {
    width: 90px;
    height: 35px;
    font-size: 11px;
  }
  .contact_heading {
    font-size: 35px;
    margin-top: 120px;
  }
  .cnct {
    font-size: 18px;
  }
  .contact-link {
    font-size: 14px;
    padding: 5px 0px;
  }
  .contact-link img {
    width: 40px;
    height: 40px;
  }
  .footer {
    font-size: 14px;
    padding: 15px;
  }
  .footer-bottom {
    font-size: 16px;
  }
}
